<div id="container">
<div id="websiteDescriptionDiv">
<p id="websiteDescriptionText">Famestation är en hemsida som Husse har gjort Famestation är en hemsida som Husse har gjort Famestation är en hemsida som Husse har gjort Famestation är en hemsida som Husse har gjort Famestation är en hemsida som Husse har gjort Famestation är en hemsida som Husse har gjort Famestation är en hemsida som Husse har gjort Famestation är en hemsida som Husse har gjort Famestation är en hemsida som Husse har gjort Famestation är en hemsida som Husse har gjort</p>
</div>

<button id="logInButton" ng-click="loginPage()">Logga in</button>
<button id="registerButton" ng-click="registerPage()">Registera dig</button>
</div>