@import url("../bower_components/bootstrap/dist/css/bootstrap.css");

#headerAllPages {
	background-image: url("../images/headerBackground.jpg");
	height: 70px;
}

#headerTitle {
	padding-left: 100px;
	color: #ffffff;
	font-size: 20px;
	text-align: center;
}

#logInButton {
	top: 35%;
    right: 18%;
    position: absolute;
}

#registerButton{
	top: 45%;
	right: 15%;
	position: absolute;
}

#websiteDescriptionDiv {
	width: 320px;
    padding: 10px;
    border: 5px solid gray;
    top: 25%;
    right: 35%;
	max-width: 350px;
	position: absolute;
}

#websiteDescriptionText {
	word-wrap: break-word;
}

#container {
	margin: 10% 0;
}
